# Data Science Tools and Ecosystem

## Author
Aseel

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__:

- List popular languages for Data Science
- List popular libraries for Data Science
- Put popular tools used in Data Science in a table
- Execute arithmetic expressions
- Execute different mark down formats

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplot

|Data Science Tools|
|------------------|
|TensorFlow|
|Scikit Learn|
|Tableu|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
FACTOR = 60
hours = minutes / FACTOR
print(f'{hours} hours')

3.3333333333333335 hours